* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  scroll-behavior: smooth;
}

body {
  background: black;
}

body.noscroll {
  overflow: hidden;
}

/* Theme color */
h1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 500;
  margin: 1% 0;
  padding: 0;
}

h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 1%;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
  color: #c51d6f;
  text-transform: uppercase;
  padding: 15px 0 5px 0;
}

p {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 1.5;
}

/* Veriable */
section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* templates */
.template__title .buttons {
  margin: 10px 0 20px 0;
}

.template__title .buttons button {
  background-color: transparent;
  border: 1px #c51d6f solid;
  padding: 10px 25px;
  text-transform: uppercase;
  margin-right: 5px;
}

.template__title .buttons button:hover, .template__title .buttons button:active {
  background: #c51d6f;
  cursor: pointer;
}

.arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.arrows .arrow {
  cursor: pointer;
  font-size: 25px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: transparent;
  outline: none;
  border: none;
  padding-bottom: 3px;
}

.arrows .arrow.active {
  opacity: 0.4;
  pointer-events: none;
}

/* templates end */
/* Navbar */
.hero__navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 8vh;
  background: black;
  padding: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 150;
}

.hero__navbar-logo {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.hero__navbar-logo a {
  text-decoration: none;
}

.hero__navbar-menu {
  width: 35%;
  margin-left: 10%;
}

.hero__navbar-menu ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__navbar-menu li {
  list-style: none;
  float: left;
}

.hero__navbar-menu li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.hero__navbar-menu li a:hover {
  color: #c51d6f;
}

.hero__navbar .subscribe {
  height: 40px;
  width: 400px;
  text-align: center;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__navbar .subscribe-btn {
  position: absolute;
  height: 100%;
  width: 50%;
  color: white;
  background: #c51d6f;
  line-height: 40px;
  font-weight: 500;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hero__navbar .subscribe-btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.hero__navbar .subscribe #subscribe:checked ~ .subscribe-btn {
  height: 40px;
  width: 100px;
  opacity: 0;
  pointer-events: none;
}

.hero__navbar .subscribe-field {
  height: 100%;
  width: 0%;
  opacity: 0;
  pointer-events: none;
  position: relative;
  -webkit-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hero__navbar .subscribe-field input {
  height: 100%;
  width: 100%;
  border: 2px solid #fff;
  padding: 0 100px 0 15px;
  font-size: 20px;
  outline: none;
  -webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  color: black;
}

.hero__navbar .subscribe-field input::-webkit-input-placeholder {
  color: #999;
  font-size: 18px;
}

.hero__navbar .subscribe-field input:-ms-input-placeholder {
  color: #999;
  font-size: 18px;
}

.hero__navbar .subscribe-field input::-ms-input-placeholder {
  color: #999;
  font-size: 18px;
}

.hero__navbar .subscribe-field input::placeholder {
  color: #999;
  font-size: 18px;
}

.hero__navbar .subscribe-field .subscribe-btn2 {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 14px;
  color: white;
  line-height: 30px;
  background: #c51d6f;
  height: 30px;
  width: 100px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hero__navbar .subscribe-field .subscribe-btn2:active {
  -webkit-transform: translateY(-50%) scale(0.9);
          transform: translateY(-50%) scale(0.9);
}

.hero__navbar .subscribe #subscribe:checked ~ .subscribe-field {
  width: 100%;
  opacity: 1;
  pointer-events: auto;
}

.hero__navbar .subscribe #subscribe {
  display: none;
}

.hero__navbar-burger {
  display: none;
  width: 32px;
  height: 25px;
  -webkit-transition: all 0.3s linear;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

.hero__navbar-burger span {
  display: block;
  width: 30px;
  height: 1px;
  background: #c51d6f;
  margin: 3px 0 8px 1px;
}

.hero__navbar-burger:hover {
  cursor: pointer;
}

/* Hero */
#hero {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}

.hero__slider {
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transform: translateX();
          transform: translateX();
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.hero__slider__slide {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.hero__slider__slide .hero-background {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__slider__slide .hero-title {
  position: absolute;
  width: 60%;
  color: white;
  bottom: 5%;
  left: 5%;
}

.hero__slider__slide .hero-title .journalist {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10%;
}

.hero__slider__slide .hero-title h1 span {
  color: #c51d6f;
}

.hero__slider__slide .arrows {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.hero__slider__slide .arrows .arrow {
  background: #c51d6f;
}

.hero__slider__slide .arrows .arrow:hover {
  color: #c51d6f;
  background: white;
}

@media all and (max-width: 700px) {
  .hero__slider__slide .arrows {
    display: none;
  }
}

/* News */
.news {
  width: 90%;
  padding: 5% 0;
}

.news .buttons button.active {
  background-color: #c51d6f;
}

.news__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__container__column {
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__container__column__item {
  width: 100%;
}

.news__container__column__item img {
  width: 100%;
}

/* Music */
.music {
  width: 90%;
  padding: 5% 0;
}

.music__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.music__list .frame {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.music__list .frame .music__list__song {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2%;
  padding: 1% 2%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.music__list .frame .music__list__song:hover {
  cursor: pointer;
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
}

.music__list .frame .music__list__song h3 {
  color: #4a4a4a;
}

.music__list .frame .music__list__song .song-name {
  width: 35%;
}

.music__list .frame .music__list__song .song-artist {
  width: 25%;
}

.music__list .frame .music__list__song .song-length {
  width: 20%;
  text-align: end;
}

.music__list .frame .music__list__song .song-equalizer {
  width: 10%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.music__list .frame .music__list__song .song-equalizer .active {
  width: 12px;
  height: 2px;
  border-radius: 10px;
  background-color: white;
  -webkit-animation: up_down 1s ease-in-out infinite;
          animation: up_down 1s ease-in-out infinite;
}

.music__list .frame .music__list__song .song-equalizer .active:nth-child(1) {
  background-color: purple;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.music__list .frame .music__list__song .song-equalizer .active:nth-child(2) {
  background-color: crimson;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.music__list .frame .music__list__song .song-equalizer .active:nth-child(3) {
  background-color: deeppink;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.music__list .frame .music__list__song .song-equalizer .active:nth-child(4) {
  background-color: orange;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.music__list .frame .music__list__song .song-equalizer .active:nth-child(5) {
  background-color: gold;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.music__list .frame .music__list__song .song-equalizer .active:nth-child(6) {
  background-color: gold;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.music__list .frame .music__list__song .song-equalizer .active:nth-child(7) {
  background-color: orange;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.music__list .frame .music__list__song .song-equalizer .active:nth-child(8) {
  background-color: deeppink;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.music__list .frame .music__list__song .song-equalizer .active:nth-child(9) {
  background-color: crimson;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.music__list .frame .music__list__song .song-equalizer .active:nth-child(10) {
  background-color: purple;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes up_down {
  0%,
  100% {
    height: 2px;
  }
  50% {
    height: 40px;
  }
}

@keyframes up_down {
  0%,
  100% {
    height: 2px;
  }
  50% {
    height: 40px;
  }
}

.music__list .frame .music__list__song .song-play-btn {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 10px solid transparent;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

.music__list .frame .music__list__song .song-play-btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.music__list .frame .music__list__song .song-play-btn span {
  position: absolute;
  top: 50%;
  left: 25%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
  height: 18px;
  border-radius: 2px;
  background: #c51d6f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.music__list .frame .music__list__song .song-play-btn span:nth-child(2) {
  left: 70%;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.music__list .frame .music__list__song .song-play-btn.pause span:nth-child(2) {
  -webkit-transform: translateY(50%) scaleY(0);
          transform: translateY(50%) scaleY(0);
}

.music__list .frame .music__list__song .song-play-btn.pause span:nth-child(1) {
  width: 35%;
  left: 53%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 0;
  -webkit-clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
          clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
}

.player {
  position: fixed;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(130%);
          transform: translateY(130%);
  width: 100%;
  height: 8vh;
  background: #1d1d1d;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media all and (max-width: 450px) {
  .player {
    height: 15vh;
  }
}

.player.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.player__container {
  position: relative;
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player__container .closeBtn {
  width: 25px;
  height: 25px;
  background-color: #c51d6f;
  position: absolute;
  cursor: pointer;
  left: -4%;
  top: -15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player__container .closeBtn img {
  width: 15px;
  height: 15px;
}

.player__description {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.player__description img {
  width: 50px;
  height: 50px;
}

.player__description__title h5 {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  padding-bottom: 1px;
}

.player__description__title p {
  font-size: 12px;
  font-weight: 200;
  color: #909090;
}

@media all and (max-width: 700px) {
  .player__description {
    display: none;
  }
}

.player-main {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 0px;
          flex: 2 1 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.player-main__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

@media all and (max-width: 450px) {
  .player-main__controls {
    gap: 20px;
  }
}

.player-main__controls img {
  width: 20px;
  height: 20px;
}

.player-main__controls img:hover {
  cursor: pointer;
  opacity: 0.8;
}

.player-main__controls img:nth-child(2) {
  width: 30px;
  height: 30px;
}

.player-main__controls img:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@media all and (max-width: 450px) {
  .player-main__controls img {
    width: 30px;
    height: 30px;
  }
  .player-main__controls img:nth-child(2) {
    width: 40px;
    height: 40px;
  }
}

.player-main .progress-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.player-main .progress-container .progress {
  width: 85%;
  background: #333333;
  border-radius: 5px;
  cursor: pointer;
  height: 4px;
}

.player-main .progress-container .progress-inner {
  width: 0;
  background: #fff;
  border-radius: 5px;
  height: 100%;
  -webkit-transition: width 0.1s linear;
  transition: width 0.1s linear;
}

.player-main .progress-container .progress:hover .progress-inner {
  background: #c51d6f;
}

.player-main span {
  display: block;
  font-size: 12px;
}

.player__volume {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (max-width: 700px) {
  .player__volume {
    display: none;
  }
}

.player__volume img {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

.player__volume img:hover {
  cursor: pointer;
  opacity: 0.8;
}

.player__volume img:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.player__volume .progress-volume {
  width: 30%;
  height: 4px;
  background: #333333;
  border-radius: 5px;
  cursor: pointer;
}

.player__volume .progress-volume__inner {
  width: 100%;
  background: #fff;
  border-radius: 5px;
  height: 100%;
  -webkit-transition: width 0.1s linear;
  transition: width 0.1s linear;
}

.player__volume .progress-volume:hover .progress-volume__inner {
  background: #c51d6f;
}

/* Video */
.video {
  width: 90%;
  padding: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.video__carousel {
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.video__carousel__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  overflow: hidden;
}

.video__carousel__inner__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.video__carousel__inner__item:hover .video-promo {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  cursor: pointer;
}

.video__carousel__inner__item .video-promo {
  height: 400px;
  position: relative;
  font-size: 0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.video__carousel__inner__item .video-promo:hover {
  -webkit-filter: none;
          filter: none;
}

.video__carousel__inner__item .video-promo img {
  width: 530px;
  height: 100%;
}

.video__carousel__inner__item .video-promo .videoBtn {
  position: absolute;
  width: 14%;
  height: 18%;
  border-radius: 50%;
  background-color: rgba(197, 29, 111, 0.7);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.video__carousel__inner__item .video-promo .videoBtn:hover {
  background-color: #c51d6f;
  cursor: pointer;
}

.video__carousel__inner__item .video-promo .videoBtn span {
  margin-left: 2%;
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 14px solid white;
}

.video .arrows {
  margin-top: 30px;
}

.video .arrows .arrow:hover {
  background: #c51d6f;
}

.video-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: 100;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1001;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.video-modal #youtube {
  width: 80%;
  height: 80%;
  display: none;
}

.video-modal #youtube.active {
  display: block;
}

.video-modal__close {
  cursor: pointer;
  text-transform: uppercase;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 2% 1% 0 0;
  opacity: 0;
  -webkit-transition: all;
  transition: all;
}

.video-modal__close h3 {
  color: white;
  font-size: 1.3rem;
}

.video-modal__close h3:hover {
  color: #c51d6f;
}

.video-modal:hover .video-modal__close {
  opacity: 1;
}

.video-modal.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.video-modal video {
  width: 90%;
  height: 90%;
}

/* Bands */
#bands {
  display: block;
}

#bands .template__title {
  margin-left: 5%;
  margin-top: 3%;
}

#bands .bands__container {
  margin: 0 auto;
  width: 90%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5%;
}

#bands .bands__container .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#bands .bands__container .author p {
  color: #808080;
}

#bands .bands__container__promo {
  width: 65%;
  height: 100%;
  background-image: url("https://d3nxoulyw7bc8u.cloudfront.net/images/artists/None/45e8cb4f-cf8b-4047-98db-791110e45cef.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

#bands .bands__container__promo .promo-title {
  width: 85%;
  position: absolute;
  bottom: 2%;
  left: 2%;
}

#bands .bands__container__promo .promo-title h2 {
  background: rgba(0, 0, 0, 0.5);
  margin: 1% 0;
}

#bands .bands__container__cards {
  width: 34%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#bands .bands__container__cards__card {
  width: 100%;
  height: 33.3%;
  padding: 5%;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#bands .bands__container__cards__card.active {
  background-color: rgba(197, 29, 111, 0.5);
}

#bands .bands__container__cards__card:hover {
  cursor: pointer;
}

/* More News */
.more {
  width: 90%;
  padding: 5% 0;
}

.more__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.more__container__item {
  width: 30%;
}

.more__container__item img {
  width: 100%;
}

/* Footer */
.footer {
  width: 100%;
  background-color: white;
  text-align: center;
}

.footer p {
  font-size: 0.8rem;
  color: black;
  padding: 1% 0;
}

.footer a {
  color: blue;
}

/* Scroll up arrow */
.scroll-up {
  position: fixed;
  right: 35px;
  bottom: 100px;
  z-index: 1000;
  width: 50px;
  height: 50px;
  color: #dcdcdc;
  cursor: pointer;
  visibility: hidden;
  border-radius: 50px;
  -webkit-box-shadow: inset 0 0 0 4px #dcdcdc;
          box-shadow: inset 0 0 0 4px #dcdcdc;
  opacity: 0;
  -webkit-transform: 0.2s;
          transform: 0.2s;
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
}

.scroll-up.active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.scroll-up:before {
  content: "\2191";
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
}

.scroll-up:hover {
  color: #c51d6f;
}

.scroll-up__svg-path {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  fill: none;
  stroke: #c51d6f;
  stroke-width: 4px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/* Scrolbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #909090;
  background-repeat: no-repeat;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #212123;
}

::-webkit-scrollbar-thumb:hover {
  background: #606060;
}

/* Media query */
@media all and (max-width: 1450px) {
  .hero__navbar .subscribe {
    display: none;
  }
  .hero__navbar-burger {
    display: block;
  }
  .hero__navbar-burger.active {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .hero__navbar-menu .hero__navbar-lists {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 30%;
    gap: 5%;
    -webkit-transform: translate(101%);
            transform: translate(101%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .hero__navbar-menu .hero__navbar-lists li {
    opacity: 0;
  }
  .hero__navbar-menu .hero__navbar-lists li a {
    color: black;
  }
  .hero__navbar-menu .hero__navbar-lists li a:hover {
    color: #c51d6f;
  }
  .hero__navbar-menu .hero__navbar-lists.nav-active {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  @-webkit-keyframes navLinkFade {
    from {
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes navLinkFade {
    from {
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
}

@media all and (max-width: 1200px) {
  .hero__slider__slide .hero-title {
    width: 70%;
  }
}

@media all and (max-width: 992px) {
  h1 {
    font-size: 3rem;
  }
  .video__carousel__inner__item .video-promo {
    height: auto;
  }
  #bands .bands__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    height: unset;
  }
  #bands .bands__container__promo {
    width: 100%;
    height: 60vh;
  }
  #bands .bands__container__cards {
    width: 100%;
  }
  #bands .bands__container__cards__card {
    width: 100%;
    height: 20vh;
    padding: 3%;
  }
  #bands .bands__container__cards__card p {
    font-size: 0.8rem;
  }
}

@media all and (max-width: 768px) {
  .news__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .news__container__column {
    width: 100%;
    gap: 20px;
  }
  .news__container__item {
    width: 100%;
  }
  .video__carousel__inner__item .video-promo img {
    width: 90vw;
    height: 50vh;
  }
  #bands .bands__container__promo .promo-title {
    width: 100%;
  }
  #bands .bands__container__promo .promo-title .author {
    width: 75%;
  }
  #bands .bands__container__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .more__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .more__container__item {
    width: 100%;
  }
}

@media all and (max-width: 700px) {
  .hero__slider__slide .hero-title {
    width: 90%;
  }
}

@media all and (max-width: 500px) {
  h1 {
    font-size: 2rem;
    padding-bottom: 10px;
  }
  h3 {
    font-size: 1.1rem;
  }
  .scroll-up {
    display: none;
  }
  .hero__slider__slide .hero-title {
    width: 95%;
  }
  .hero__slider__slide .hero-title p {
    font-size: 0.8rem;
  }
  .hero__slider__slide .hero-title h1 {
    padding: 2% 0;
    font-size: 2rem;
  }
  .news .template__title {
    padding-top: 20px;
  }
  .music__list .song-artist {
    display: none;
  }
  @-webkit-keyframes up_down {
    0%,
    100% {
      height: 2px;
    }
    50% {
      height: 20px;
    }
  }
  @keyframes up_down {
    0%,
    100% {
      height: 2px;
    }
    50% {
      height: 20px;
    }
  }
  .video__carousel__inner {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  .video__carousel__inner__item .video-promo {
    width: 90vw;
    height: 45vh;
  }
  .video__carousel__inner__item .video-promo img {
    width: 100%;
    height: 100%;
  }
  .video-modal__close {
    position: absolute;
    right: 5%;
  }
  #bands .bands__container {
    height: 120vh;
  }
  #bands .bands__container__promo {
    height: 70vh;
  }
  #bands .bands__container__promo .promo-title h2 {
    font-size: 1.5rem;
  }
  #bands .bands__container__promo .promo-title .author {
    padding-top: 35%;
    width: 80%;
  }
  #bands .bands__container__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 10px;
    height: unset;
  }
  #bands .bands__container__cards__card {
    height: 16vh;
  }
  .news,
  .music,
  .video,
  .bands,
  .more {
    width: 95%;
  }
  .more__container {
    gap: 20px;
  }
  .more__container__item h3 {
    padding-top: 5px;
  }
}

@media all and (min-device-width: 350px) and (max-device-width: 1000px) and (orientation: landscape) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  .hero__navbar {
    height: 12vh;
  }
  .hero__navbar-menu .hero__navbar-lists {
    height: 88vh;
    top: 12vh;
    gap: 8%;
  }
  #hero .hero__slider__slide .hero-title {
    width: 75%;
  }
  #hero .hero__slider__slide .hero-title h1 {
    font-size: 1.8rem;
  }
  #hero .hero__slider__slide .hero-title p {
    font-size: 0.8rem;
  }
  .video__carousel__inner__item .video-promo img {
    height: 90vh;
  }
  #bands .bands__container__promo {
    height: 80vh;
  }
  #bands .bands__container__cards__card {
    height: 27vh;
  }
  #bands .bands__container__cards__card h3 {
    font-size: 1.2rem;
  }
  .player {
    -webkit-transform: translateY(125%);
            transform: translateY(125%);
    height: 20%;
  }
  .player .volumeBtn {
    width: 18px;
    height: 18px;
  }
  .scroll-up {
    bottom: 80px;
  }
}
