* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  scroll-behavior: smooth;
}
body {
  background: black;
  overflow-x: hidden;
  &.noscroll {
    overflow: hidden;
    padding-right: 12px;
  }
}

/* Theme color */
$theme-color: #c51d6f;

h1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 500;
  margin: 1% 0;
  padding: 0;
}
h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 1%;
}
h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
  color: $theme-color;
  text-transform: uppercase;
  padding: 15px 0 5px 0;
}

p {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 1.5;
}

/* Veriable */
@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  width: 100vw;
  @include flex;
}

/* templates */
.template__title {
  .buttons {
    margin: 10px 0 20px 0;
    button {
      background-color: transparent;
      border: 1px $theme-color solid;
      padding: 10px 25px;
      text-transform: uppercase;
      margin-right: 5px;
      &:hover,
      &:active {
        background: $theme-color;
        cursor: pointer;
      }
    }
  }
}

.arrows {
  display: flex;
  gap: 20px;
  .arrow {
    cursor: pointer;
    font-size: 25px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: transparent;
    outline: none;
    border: none;
    padding-bottom: 3px;
    &.active {
      opacity: 0.4;
      pointer-events: none;
    }
  }
}

/* templates end */

/* Navbar */
.hero__navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 8vh;
  background: black;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 101;
  &.modal {
    right: 12px;
  }
  &-logo {
    color: white;
    font-size: 30px;
    font-weight: bold;
    a {
      text-decoration: none;
    }
  }
  &-menu {
    width: 35%;
    margin-left: 10%;
    ul {
      padding: 0;
      display: flex;
      justify-content: space-between;
    }
    li {
      list-style: none;
      float: left;
      a {
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        &:hover {
          color: $theme-color;
        }
      }
    }
  }
  .subscribe {
    height: 40px;
    width: 400px;
    text-align: center;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    @include flex;
    &-btn {
      position: absolute;
      height: 100%;
      width: 50%;
      color: white;
      background: #c51d6f;
      line-height: 40px;
      font-weight: 500;
      user-select: none;
      cursor: pointer;
      box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
      transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      &:active {
        transform: scale(0.9);
      }
    }
    #subscribe:checked ~ .subscribe-btn {
      height: 40px;
      width: 100px;
      opacity: 0;
      pointer-events: none;
    }
    &-field {
      height: 100%;
      width: 0%;
      opacity: 0;
      pointer-events: none;
      position: relative;
      transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      input {
        height: 100%;
        width: 100%;
        border: 2px solid #fff;
        padding: 0 100px 0 15px;
        font-size: 20px;
        outline: none;
        box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
        color: black;
        &::placeholder {
          color: #999;
          font-size: 18px;
        }
      }
      .subscribe-btn2 {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        font-size: 14px;
        color: white;
        line-height: 30px;
        background: $theme-color;
        height: 30px;
        width: 100px;
        user-select: none;
        cursor: pointer;
        transition: all 0.3s ease;
        &:active {
          transform: translateY(-50%) scale(0.9);
        }
      }
    }
    #subscribe:checked ~ .subscribe-field {
      width: 100%;
      opacity: 1;
      pointer-events: auto;
    }
    & #subscribe {
      display: none;
    }
  }

  &-burger {
    display: none;
    width: 32px;
    height: 25px;
    -webkit-transition: all 0.3s linear;
    transition: transform 0.5s ease-in;
    span {
      display: block;
      width: 30px;
      height: 1px;
      background: $theme-color;
      margin: 3px 0 8px 1px;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

/* Hero */

#hero {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}
.hero__slider {
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: inline-flex;
  transform: translateX();
  transition: transform 0.3s ease-out;
  &__slide {
    width: 100vw;
    height: 100vh;
    position: relative;
    .hero-background {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
    }
    .hero-title {
      position: absolute;
      width: 60%;
      color: white;
      bottom: 5%;
      left: 5%;
      .journalist {
        width: 80%;
        display: flex;
        gap: 10%;
      }

      h1 {
        span {
          color: $theme-color;
        }
      }
    }
    .arrows {
      position: absolute;
      bottom: 5%;
      right: 5%;
      .arrow {
        background: $theme-color;
        &:hover {
          color: $theme-color;
          background: white;
        }
      }
      @media all and (max-width: 700px) {
        display: none;
      }
    }
  }
}

/* News */

.news {
  width: 90%;
  padding: 5% 0;
  .buttons {
    button {
      &.active {
        background-color: $theme-color;
      }
    }
  }
  &__container {
    width: 100%;
    display: none;
    justify-content: space-between;
    &.active {
      display: flex;
    }
    &__column {
      width: 32%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &__item {
        width: 100%;
        font-size: 0;
        &:hover {
          cursor: pointer;
        }
        img {
          width: 100%;
          transition: all 0.3s ease;
          &:hover {
            transform: scale(1.02);
          }
        }
        .news-title {
          h3 {
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
}

.modal-news {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transform: scale(1.2);
  z-index: 102;
  transition: transform 0.5s ease;
  &.active {
    display: block;
    opacity: 1;
    transform: scale(1);
  }
  &__container {
    position: relative;
    height: 90vh;
    margin: 0 auto;
    width: 800px;
    top: 9vh;
    background: white;
    padding: 3% 2.5% 1%;
    color: black;
    overflow: auto;
    flex-direction: column;
    overflow-x: hidden;
    h2 {
      width: 96%;
      color: black;
      text-transform: none;
      font-weight: bold;
      margin-bottom: 3%;
    }
    p {
      color: black;
    }
    .journalist {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .news-modal-picture {
      width: 100%;
      padding: 10px 0 20px 0;
    }
    .modal-close {
      position: absolute;
      top: 1.5%;
      right: 1.5%;
      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
    .modal-paragraph {
      p {
        line-height: 2rem;
      }
    }
    @media all and (max-width: 820px) {
      width: 95%;
      h2 {
        font-size: 2rem;
        padding-bottom: 0;
      }
    }
    @media all and (max-width: 500px) {
      h2 {
        width: 92%;
        font-size: 1.5rem;
      }
      .modal-close {
        width: 24px;
        height: 24px;
      }
    }
  }
}

/* Music */

.music {
  width: 90%;
  padding: 5% 0;
  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    .frame {
      width: 100%;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      .music__list__song {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2%;
        padding: 1% 2%;
        transition: 0.2s;
        &:hover {
          cursor: pointer;
          transform: scale(1.005);
        }
        h3 {
          color: #4a4a4a;
        }
        .song-name {
          width: 35%;
        }
        .song-artist {
          width: 25%;
        }
        .song-length {
          width: 20%;
          text-align: end;
        }
        .song-equalizer {
          width: 10%;
          display: inline-flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          .active {
            width: 12px;
            height: 2px;
            border-radius: 10px;
            background-color: white;
            animation: up_down 1s ease-in-out infinite;
            &:nth-child(1) {
              background-color: purple;
              animation-delay: 1s;
            }
            &:nth-child(2) {
              background-color: crimson;
              animation-delay: 0.8s;
            }
            &:nth-child(3) {
              background-color: deeppink;
              animation-delay: 0.6s;
            }
            &:nth-child(4) {
              background-color: orange;
              animation-delay: 0.4s;
            }
            &:nth-child(5) {
              background-color: gold;
              animation-delay: 0.2s;
            }
            &:nth-child(6) {
              background-color: gold;
              animation-delay: 0.2s;
            }
            &:nth-child(7) {
              background-color: orange;
              animation-delay: 0.4s;
            }
            &:nth-child(8) {
              background-color: deeppink;
              animation-delay: 0.6s;
            }
            &:nth-child(9) {
              background-color: crimson;
              animation-delay: 0.8s;
            }
            &:nth-child(10) {
              background-color: purple;
              animation-delay: 1s;
            }
          }
        }
        @keyframes up_down {
          0%,
          100% {
            height: 2px;
          }
          50% {
            height: 40px;
          }
        }
        .song-play-btn {
          position: relative;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 10px solid transparent;
          transition: all 0.4s ease;
          cursor: pointer;
          &:hover {
            transform: scale(1.2);
          }
          span {
            position: absolute;
            top: 50%;
            left: 25%;
            transform: translateY(-50%);
            width: 1px;
            height: 18px;
            border-radius: 2px;
            background: $theme-color;
            transition: 0.5s;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          }
          & span:nth-child(2) {
            left: 70%;
            transform-origin: center;
          }
          &.pause span:nth-child(2) {
            transform: translateY(50%) scaleY(0);
          }
          &.pause span:nth-child(1) {
            width: 35%;
            left: 53%;
            transform: translate(-50%, -50%);
            border-radius: 0;
            clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
          }
        }
      }
    }
  }
}
.player {
  position: fixed;
  bottom: 0;
  left: 0;
  transform: translateY(130%);
  width: 100%;
  height: 8vh;
  background: #1d1d1d;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  @include flex;
  z-index: 100;
  transition: all 0.5s ease;
  @media all and (max-width: 450px) {
    height: 15vh;
  }
  &.active {
    transform: translateY(0);
  }
  &__container {
    position: relative;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .closeBtn {
      width: 25px;
      height: 25px;
      background-color: $theme-color;
      position: absolute;
      cursor: pointer;
      left: -4%;
      top: -15%;
      @include flex;
      img {
        width: 15px;
        height: 15px;
      }
    }
  }
  &__description {
    flex: 1 1 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    img {
      width: 50px;
      height: 50px;
    }
    &__title {
      h5 {
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 1px;
        padding-bottom: 1px;
      }
      p {
        font-size: 12px;
        font-weight: 200;
        color: #909090;
      }
    }
    @media all and (max-width: 700px) {
      display: none;
    }
  }
  &-main {
    flex: 2 1 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    &__controls {
      @include flex;
      gap: 50px;
      @media all and (max-width: 450px) {
        gap: 20px;
      }
      img {
        width: 20px;
        height: 20px;
        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
        &:nth-child(2) {
          width: 30px;
          height: 30px;
        }
        &:active {
          transform: scale(0.9);
        }
      }
      @media all and (max-width: 450px) {
        img {
          width: 30px;
          height: 30px;
          &:nth-child(2) {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
    .progress-container {
      width: 100%;
      @include flex;
      gap: 10px;
      .progress {
        width: 85%;
        background: #333333;
        border-radius: 5px;
        cursor: pointer;
        height: 4px;

        &-inner {
          width: 0;
          background: #fff;
          border-radius: 5px;
          height: 100%;
          transition: width 0.1s linear;
        }
        &:hover .progress-inner {
          background: $theme-color;
        }
      }
    }
    span {
      display: block;
      font-size: 12px;
    }
  }
  &__volume {
    flex: 1 1 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media all and (max-width: 700px) {
      display: none;
    }
    img {
      width: 25px;
      height: 25px;
      margin-right: 15px;
      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
      &:active {
        transform: scale(0.9);
      }
    }
    .progress-volume {
      width: 30%;
      height: 4px;
      background: #333333;
      border-radius: 5px;
      cursor: pointer;
      &__inner {
        width: 100%;
        background: #fff;
        border-radius: 5px;
        height: 100%;
        transition: width 0.1s linear;
      }
      &:hover .progress-volume__inner {
        background: $theme-color;
      }
    }
  }
}

/* Video */

.video__carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 0 10% 0;
  &__inner {
    display: inline-flex;
    overflow: hidden;
    transform: translate(0);
    transition: transform 0.6s;
    &__item {
      width: 100vw;
      max-height: 100vh;
      display: flex;
      flex-direction: column;
      .videoPlayer {
        width: 70vw;
        height: auto;
        position: relative;
        margin: 0 auto;
        &:hover {
          cursor: pointer;
        }
        &:hover .videoArrow {
          opacity: 1;
        }
        video {
          width: 100%;
          height: auto;
        }
        .videoArrow {
          width: 50px;
          height: 100%;
          position: absolute;
          background-color: rgba(128, 128, 128, 0.5);
          opacity: 0;
          transition: 0.5s;
          top: 0;
        }
        .videoPlayer-leftArrow {
          left: 0;
        }
        .videoPlayer-rightArrow {
          right: 0;
        }
      }
      .video-title {
        margin: 0 15%;
      }
    }
  }
}
.arrows {
  margin: 0 auto;
  .arrow {
    &:hover {
      background: $theme-color;
    }
  }
}

/* Bands */
#bands {
  display: block;
  .template__title {
    margin-left: 5%;
    margin-top: 3%;
  }
  .bands__container {
    margin: 0 auto;
    width: 90%;
    height: 80vh;
    display: flex;

    justify-content: space-between;
    margin-bottom: 5%;
    .author {
      display: flex;
      justify-content: space-between;
      p {
        color: #808080;
      }
    }
    &__promo {
      width: 65%;
      height: 100%;
      background-image: url("https://d3nxoulyw7bc8u.cloudfront.net/images/artists/None/45e8cb4f-cf8b-4047-98db-791110e45cef.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      .promo-title {
        width: 85%;
        position: absolute;
        bottom: 2%;
        left: 2%;
        h2 {
          background: rgba(0, 0, 0, 0.5);
          margin: 1% 0;
        }
      }
    }
    &__cards {
      width: 34%;
      height: 100%;
      display: flex;
      flex-direction: column;
      &__card {
        width: 100%;
        height: 33.3%;
        padding: 5%;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &.active {
          background-color: $theme-color;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
/* More News */

.more {
  width: 90%;
  padding: 5% 0;
  &__container {
    display: flex;
    justify-content: space-between;
    &__item {
      width: 30%;
      img {
        width: 100%;
      }
    }
  }
}

/* Footer */

.footer {
  width: 100%;
  background-color: white;
  text-align: center;
  p {
    font-size: 0.8rem;
    color: black;
    padding: 1% 0;
  }
  a {
    color: blue;
  }
}

/* Scroll up arrow */

.scroll-up {
  position: fixed;
  right: 35px;
  bottom: 100px;
  z-index: 101;
  width: 50px;
  height: 50px;
  color: #dcdcdc;
  cursor: pointer;
  visibility: hidden;
  border-radius: 50px;
  box-shadow: inset 0 0 0 4px #dcdcdc;
  opacity: 0;
  transform: 0.2s;
  transform: translateY(25px);
  &.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  &:before {
    content: "\2191";
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    @include flex;
    width: 100%;
    height: 100%;
    font-size: 20px;
  }
  &:hover {
    color: $theme-color;
  }
  &__svg-path {
    box-sizing: border-box;
    fill: none;
    stroke: $theme-color;
    stroke-width: 4px;
    transition: 0.2s;
  }
}

/* Scrolbar */

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: #909090;
  background-repeat: no-repeat;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #212123;
}

::-webkit-scrollbar-thumb:hover {
  background: #606060;
}

/* Media query */

@media all and (max-width: 1450px) {
  .hero__navbar {
    .subscribe {
      display: none;
    }
    &-burger {
      display: block;
      &.active {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }
    &-menu {
      .hero__navbar-lists {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: white;
        @include flex;
        flex-direction: column;
        width: 30%;
        gap: 5%;
        transform: translate(101%);
        transition: transform 0.5s ease-in;
        li {
          opacity: 0;
          a {
            color: black;
            &:hover {
              color: $theme-color;
            }
          }
        }
        &.nav-active {
          transform: translate(0);
        }
      }
    }
  }
  @keyframes navLinkFade {
    from {
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

@media all and (max-width: 1200px) {
  .hero__slider__slide {
    .hero-title {
      width: 70%;
    }
  }
}

@media all and (max-width: 992px) {
  h1 {
    font-size: 3rem;
  }
  .video {
    &__carousel {
      &__inner {
        &__item {
          .video-promo {
            height: auto;
          }
        }
      }
    }
    .arrows {
      margin-top: 0;
    }
  }
  #bands {
    .bands__container {
      flex-direction: column;
      gap: 20px;
      height: unset;
      &__promo {
        width: 100%;
        height: 60vh;
      }
      &__cards {
        width: 100%;
        &__card {
          width: 100%;
          height: 20vh;
          padding: 3%;
          p {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  .news__container {
    flex-direction: column;
    gap: 20px;
    &__column {
      width: 100%;
      gap: 20px;
    }
    &__item {
      width: 100%;
    }
  }
  .video__carousel__inner {
    &__item {
      .video-promo {
        img {
          width: 90vw;
          height: 50vh;
        }
      }
    }
  }
  #bands {
    .bands__container {
      &__promo {
        .promo-title {
          width: 100%;
          .author {
            width: 75%;
          }
        }
      }
      &__cards {
        flex-direction: column;
      }
    }
  }
  .more__container {
    flex-direction: column;
    &__item {
      width: 100%;
    }
  }
}
@media all and (max-width: 700px) {
  .hero__slider__slide {
    .hero-title {
      width: 90%;
    }
  }
}

@media all and (max-width: 500px) {
  h1 {
    font-size: 2rem;
    padding-bottom: 10px;
  }
  h3 {
    font-size: 1.1rem;
  }
  .scroll-up {
    display: none;
  }
  .hero__slider__slide {
    .hero-title {
      width: 95%;
      p {
        font-size: 0.8rem;
      }
      h1 {
        padding: 2% 0;
        font-size: 2rem;
      }
    }
  }
  .news {
    .template__title {
      padding-top: 20px;
    }
  }
  .music__list {
    .song-artist {
      display: none;
    }
  }

  @keyframes up_down {
    0%,
    100% {
      height: 2px;
    }
    50% {
      height: 20px;
    }
  }
  .video {
    &__carousel__inner {
      align-items: unset;
      &__item {
        .video-promo {
          width: 90vw;
          height: 45vh;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  .video-modal {
    &__close {
      position: absolute;
      right: 5%;
      opacity: 1;
      h3 {
        font-size: 1rem;
      }
    }
  }
  #bands {
    .bands__container {
      height: 120vh;
      &__promo {
        height: 70vh;
        .promo-title {
          h2 {
            font-size: 1.5rem;
          }
          .author {
            padding-top: 35%;
            width: 80%;
          }
        }
      }
      &__cards {
        flex-direction: column;
        padding-bottom: 10px;
        height: unset;
        &__card {
          height: 16vh;
        }
      }
    }
  }
  .news,
  .music,
  .bands,
  .more {
    width: 95%;
  }
  .more__container {
    gap: 20px;
    &__item {
      h3 {
        padding-top: 5px;
      }
    }
  }
}

@media all and (min-device-width: 350px) and (max-device-width: 1000px) and (orientation: landscape) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  .hero__navbar {
    height: 12vh;
    &-menu {
      .hero__navbar-lists {
        height: 88vh;
        top: 12vh;
        gap: 8%;
      }
    }
  }
  #hero {
    .hero__slider__slide {
      .hero-title {
        width: 75%;
        h1 {
          font-size: 1.8rem;
        }
        p {
          font-size: 0.8rem;
        }
      }
    }
  }
  .video__carousel__inner__item {
    .video-promo {
      img {
        height: 90vh;
      }
    }
  }
  #bands {
    .bands__container {
      &__promo {
        height: 80vh;
      }
      &__cards {
        &__card {
          height: 27vh;
          h3 {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  .player {
    transform: translateY(125%);
    height: 20%;
    .volumeBtn {
      width: 18px;
      height: 18px;
    }
  }
  .scroll-up {
    bottom: 80px;
  }
}
